/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Raleway:wght@100;400;700&display=swap');

/* Variables */
:root {
    --default-gap: 0.4rem;
    --default-border-radius: 0.5rem;
    --font-family-header: 'Fredericka the Great', sans-serif;
    --font-family-content: 'Raleway', sans-serif;

    --background-image: url('../images/background.jpg');

    --light-background_dark: rgba(175, 238, 238, 1);
    --light-background_light: rgba(240, 255, 255, 1);
    --light-color-dark: rgba(32, 178, 170, 1);
    --light-color-medium: rgba(0, 206, 209, 1);
    --light-color-light: rgba(64, 224, 208, 1);

    --dark-background_dark: rgba(0, 0, 0, 1);
    --dark-background_light: rgba(80, 80, 80, 1);
    --dark-color-dark: rgba(115, 115, 115, 1);
    --dark-color-medium: rgba(155, 155, 155, 1);
    --dark-color-light: rgba(190, 190, 190, 1);
}


/* Common */
body {
    font-family: 'Raleway', sans-serif;
    margin: var(--default-gap);
}

div {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: var(--font-family-header);
    font-weight: 400;
}

h1 {
    margin: 1rem 0 2rem 0;
    font-size: 10rem;
}

h2 {
    margin: 0.5rem 0 1rem 0;
    font-size: 5rem;
}

/* Styles Color */
body.light, .light .div_note_popup {
    background-color: var(--light-background_dark);
}

.light .div_note_details, .light .slct_style, .light .form_element {
    background-color: var(--light-background_light);
}

.light .btn_sort, .light .btn_cancel {
    background-color: var(--light-color-light);
}

.light .btn_show {
    background-color: var(--light-color-medium);
}

.light .btn_action, .light .btn_action {
    background-color: var(--light-color-dark);
}

.light .div_note_popup {
    border-color: var(--light-color-dark);
}

body.dark, .dark .div_note_popup {
    background-color: var(--dark-background_dark);
}

.dark .div_note_details, .dark .slct_style, .dark .form_element {
    background-color: var(--dark-background_light);
    color: white;
}

.dark .btn_sort, .dark .btn_cancel {
    background-color: var(--dark-color-light);
}

.dark .btn_show {
    background: var(--dark-color-medium);
}

.dark .btn_action, .dark .btn_action {
    background: var(--dark-color-dark);
}

.dark .div_note_popup {
    border-color: var(--dark-color-light);
    color: white;
}

.dark .div_form_header {
    color: black;
}

/* Buttons */
.btn {
    position: relative;
    height: 3rem;
    width: 100%;

    font-family: inherit;
    font-size: inherit;
    font-weight: 900;
    letter-spacing: 1px;

    cursor: pointer;
    padding: 1rem;

    outline: none;
    border: none;
    border-radius: var(--default-border-radius);
    color: #fff;
}

.btn:hover {
    transform: translateY(2px);
}

.btn:active {
    transform: translateY(4px);
}

.btn_note_edit {
    height: 100%;
    border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
}

/* Buttons Sort by and Show */
.btn_span_left {
    display: inline-block;
    width: 90%;
}

.btn_span_right {
    display: inline-block;
    width: 5%;
    vertical-align: middle;
}

.btn_sort_num_asc::after,
.btn_sort_num_desc::after,
.btn_show_on::after,
.btn_show_off::after {
    text-align: right
}

.btn_sort_num_asc::after {
    content: "\f162";
}

.btn_sort_num_desc::after {
    content: "\f887";
}

.btn_show_on::after {
    content: "\f205";
}

.btn_show_off::after {
    content: "\f204";
}

/* Selects */
.slct_style {
    width: 100%;
    height: 2rem;
}

/* Grid Layout Outer Structure */
.div_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0.25rem;
}

.div_header {
    grid-column: 1 / span 4;
    grid-row: 1 / 2;
    margin-bottom: var(--default-gap);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15.5rem;
    background-image: var(--background-image);
    border-radius: var(--default-border-radius);
}

.div_style_components {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    margin: var(--default-gap) var(--default-gap) 0 0;
}

.div_control_components {
    grid-column: 1 / span 4;
    grid-row: 2 / 3;
    width: 100%;
    padding-bottom: var(--default-gap);
}

.div_sort_components {
    grid-row: 3 / 4;
    margin-bottom: var(--default-gap);
}

.div_sort_components_finished {
    grid-column: 1 / 2;
}

.div_sort_components_created {
    grid-column: 2 / 3;
}

.div_sort_components_importance {
    grid-column: 3 / 4;
}

.div_display_components {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.div_note_components {
    grid-column: 1 / span 4;
    grid-row: 4 / 5;
}

/* Grid Layout Notes Structure */
.div_note {
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: auto;
    grid-column-gap: var(--default-gap);
    margin: var(--default-gap) 0 var(--default-gap) 0;
}

.div_note_details {
    display: grid;
    grid-template-columns: auto 1fr 2.5rem;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: var(--default-gap);
    grid-row-gap: var(--default-gap);
    border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
    border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
    padding: var(--default-gap) var(--default-gap) var(--default-gap) 1rem;
    font-weight: 400;
}

.div_note_header {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    font-weight: 700;
}

.div_note_importance {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: center;
}

.div_note_dates {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-right: 1rem;
}

.div_note_content {
    grid-column: 2 / span 2;
    grid-row: 2 / 3;
    font-weight: 100;
}

.div_note_edit {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* Elements */
.txt_note_content {
    width: 100%;
}

/* Pop-Up */
.div_note_popup {
    display: none;
    position: fixed;
    top: 5%;
    right: 20%;
    width: 60%;
    border-width: var(--default-gap);
    border-style: solid;
    padding: 1.5rem;
    margin-bottom: 2rem;
    z-index: 9;
}

.form_note_action {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(11, auto) 1.5rem repeat(2, auto);
    grid-column-gap: var(--default-gap);
    grid-row-gap: var(--default-gap);
}

.div_form_header {
    grid-column: 1;
    grid-row: 1;
    background-image: var(--background-image);
    border-radius: var(--default-gap);
    padding: 0 2rem;
}

.form_label, .form_element {
    grid-column: 1;
}

#form_label_title {
    grid-row: 2;
}

#form_inpt_title {
    grid-row: 3;
}

#form_label_created_on {
    grid-row: 4;
}

#form_inpt_created_on {
    grid-row: 5;
}

#form_label_finished_on {
    grid-row: 6;
}

#form_inpt_finished_on {
    grid-row: 7;
}

#form_label_importance {
    grid-row: 8;
}

#form_slct_importance {
    grid-row: 9;
}

#form_label_note_text {
    grid-row: 10;
}

#form_txt_note_text {
    grid-row: 11;
}

#form_btn_ok {
    grid-column: 1;
    grid-row: 13;
}

#form_btn_cancel {
    grid-column: 1;
    grid-row: 14;
}

.form_element {
    height: 2rem;
    font-family: var(--font-family-content);
}

.form_txt {
    height: 12rem;
    resize: none;
}


/* Icons */
@font-face {
    font-family: "Font Awesome 5 Free";
    src: url("https://pro.fontawesome.com/releases/v5.10.1/webfonts/fa-solid-900.woff2");
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fas::before, .fas::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem;
}

.fa-exclamation::before {
    content: "\f12a";
}

.fa-plus::before {
    content: "\f067";
}

.fa-pencil::before {
    content: "\f303";
}